body {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
}

.card-img-left {
    width: 45%;
    /* Link to your background image using in the property below! */
    background: scroll center url('https://source.unsplash.com/WEQbe2jBg40/414x512');
    background-size: cover;
}

/* Exclusivo para a tela de cadastro  */
#cadastro{
    background: #007bff;
    background: linear-gradient(to right, #edefc6, orange);
}

/* Exclusivo para a tela de cadastro  */
#imgCadastro{
    width: 80%;
    background-image: url('https://lh3.googleusercontent.com/proxy/LX82fiuZeviDl-FYTepjIB65nTThSERa0vJMb640opuYIc6OFxqdsQMNraGfDh2-Y6dVx9hHxHhhCkNrc4F2ifHknVuPOzPbLx-VSsVvxLYsL6V_ZDuIhYVbnPngKhSQKyU');
    background-size: 600px;
    Background-repeat: no-repeat;
}
.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}

.btn-google {
    color: white !important;
    background-color: #ea4335;
}

.btn-facebook {
    color: white !important;
    background-color: #3b5998;
}
